html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #54c3ef;
}

#main-heading {
    font-family: 'Caveat Brush', cursive;
    font-size: 90px;
    text-align: center;
    color: #fad744;
    text-shadow: 2px 5px #2b3252;
    margin: 0;
}

#main-container {
    width: 100%;
    min-height: 100vh;
    padding: 4% 16%;
    box-sizing: border-box;
}

#back-to-homepage {
    position: absolute;
    top: 24px;
    left: 24px;
    color: #fff748;
    font-size: 20px;
    text-decoration: underline;
}

#player-section {
    width: 100%;
    background-color: white;
    border-radius: 6px;
    padding: 16px;
    box-sizing: border-box;
    margin-top: 36px;

    display: flex;
    justify-content: space-between;
}

#player-wrapper {
    width: 70%;
    padding-right: 16px;
    border-right: 1px solid #ccc;
}

#player-wrapper iframe {
    width: 100%;
    height: 400px;
}

#video-title {
    font-size: 36px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-top: 1px solid #ccc;
    padding-top: 16px;
}

#video-description {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.3;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.7);
}

#video-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#video-actions p {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    margin-top: 16px;
}

#video-actions i {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
    margin-right: 20px;
    margin-top: 16px;
    cursor: pointer;
}

#playlist-wrapper {
    width: 30%;
    margin-left: 16px;
}

.playlist-card {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.active-card {
    border: 4px solid #fad744;
}

.thumbnail {
    display: block;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.video-card-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 16px;
}